/*
 * Windows XP LightDM Webkit Greeter Theme
 * by Markus Hernandez
 */

/*
 * Include tahoma.ttf in the fonts directory
 * to make everything more authentic.
 */
@font-face
{
    font-family: "Tahoma";
    src: url("../fonts/tahoma.ttf");
}

/*
 * Include framd.ttf (Franklin Gothic Medium)
 * in the fonts directory to display the correct
 * welcome screen font.
 */
@font-face
{
    font-family: "Franklin Gothic Medium";
    src: url("../fonts/framd.ttf");
}

:root
{
    /* Primary Background */
    --primary-bg: #5A7EDC;

    /* Header Colors */
    --header-bg: #2132A5;
    --header-stripe-0: #466DCD;
    --header-stripe-1: #C7DDFF;
    --header-stripe-2: #B0C9F7;
    --header-stripe-3: #5A7EDC;

    /* Center Section Colors */
    --radial-gradient-inner: #92B2EF;
    --radial-gradient-mid: #82A3E9;
    --radial-gradient-outer: #5A7EDC;
    --center-divider-inner: #90ADED;
    --center-divider-outer: #5A7EDC;

    /* User Listing Colors */
    --user-listing-0: #0E3997;
    --user-listing-1: #5A7EDC;
    --user-listing-border-selected: white;
    --profile-picture-border-normal: white;
    --profile-picture-border-inner: #eeff00;
    --profile-picture-border-outer: #ffae00;

    /* Footer Colors */
    --footer-bg-left: #3833AC;
    --footer-bg-right: #00309C;
    --footer-stripe-0: #003399;
    --footer-stripe-1: #F99736;
    --footer-stripe-2: #C2814D;
    --footer-stripe-3: #00309C;

    /* Shutdown Prompt Colors */
    --button-background-1: #F7F3EF;
    --button-background-2: #E5F0E2;
    --button-background-3: #D6D3C6;
    --button-border: #003C74;
    --button-outline-1: #043292;
    --button-outline-2: #C3C3DF;
    --button-normal-border-1: #FFFFFF;
    --button-normal-border-2: #D6D0C5;
    --button-hover-border-1: #FFF0CF;
    --button-hover-border-2: #E59700;
    --button-select-border-1: #CEE7FF;
    --button-select-border-2: #6982EE;

    /* Shadow (Password Box + "welcome" text) */
    --shadow-color: #3151B5;

    /* Sizes - General */
    --header-height: 12%;
    --stripe-height: 2px;
    --center-divider-width: 2px;
    --user-listing-width: 80%;
    --profile-picture-size: 55px;
    --profile-picture-border-radius: 6px;
    --profile-picture-border-size: 2px;
    --password-entry-length: 200px;
    --image-button-size: 28px;

    /* Primary Font */
    --primary-font-family:'Tahoma', Tahoma, sans-serif;
    --primary-font-size: 18px;
    --primary-font-color: white;

    /* Message Font (Corner) */
    --message-font-size: 12px;

    /* Sizes - Shutdown Prompt */
    --shutdown-prompt-width: 350px;
    --shutdown-prompt-height: 225px;
    --shutdown-header-height: 20%;
    --shutdown-prompt-option-font-size: 12px;
    --shutdown-option-button-size: 32px;
}

body
{
    /* Prevent Text Selection & Text Cursor */
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    /* Reset Defaults */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
    font: var(--primary-font-size) var(--primary-font-family);
    color: var(--primary-font-color);
}

#main-content
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg);
    font: var(--primary-font-size) var(--primary-font-family);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
}

#header
{
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg);
}

#headerStripe
{
    width: 100%;
    height: var(--stripe-height);
    background: linear-gradient(45deg, var(--header-stripe-0),
        var(--header-stripe-1), var(--header-stripe-2), var(--header-stripe-3));
}

#logo
{
    width: 150px;
}

#center
{
    height: 100%;
    background: radial-gradient(circle at 5% 0, var(--radial-gradient-inner) 0,
        var(--radial-gradient-mid) 8%, var(--radial-gradient-outer) 15%);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 3%; */
}

/*
 * Workaround since flex gap is not
 * yet correctly supported by the webkit
 * version included in the lighdm package.
 */
#center > *
{
    margin-right: 3%;
}
#center > *:last-child
{
    margin-right: 0;
}

#centerLeft
{
    flex: 1 1 0px;
    text-align: end;
}

#centerDivider
{
    width: var(--center-divider-width);
    height: 80%;
    background: linear-gradient(180deg, var(--center-divider-outer),
        var(--center-divider-inner), var(--center-divider-outer));
}

#centerRight
{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

/*
 * Workaround since flex gap is not
 * yet correctly supported by the webkit
 * version included in the lighdm package.
 */
#centerRight > *
{
    margin-bottom: 15px;
}
#centerRight > *:last-child
{
    margin-bottom: 0;
}

#footerStripe
{
    width: 100%;
    height: var(--stripe-height);
    background: linear-gradient(45deg, var(--footer-stripe-0),
        var(--footer-stripe-1), var(--footer-stripe-2), var(--footer-stripe-3));
}

#footer
{
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(90deg, var(--footer-bg-left), var(--footer-bg-right));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer > *
{
    margin: 3%;
}

#shutdown-options
{
    height: var(--image-button-size);;
}

#account-message
{
    font: var(--message-font-size) var(--primary-font-family);
}

/* User Profile */
.user-border-wrapper
{
    width: var(--user-listing-width);
    background: linear-gradient(90deg, white, var(--primary-bg) 80%);
    border-radius: var(--profile-picture-border-radius);
    padding: 1px;
}

.profile-picture-wrapper
{
    background-color: var(--profile-picture-border-normal);;
    border-radius: var(--profile-picture-border-radius);
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    padding: var(--profile-picture-border-size);
}

.user:hover .profile-picture-wrapper, .user.active .profile-picture-wrapper
{
    background: radial-gradient(65% 100% at center, var(--profile-picture-border-inner) 50%,
        var(--profile-picture-border-outer) 85%);
}

.profile-picture
{
    width: var(--profile-picture-size);
}

.user
{
    background-color: var(--primary-bg);
    outline: 1px solid var(--primary-bg);
    padding: 6px 0 6px 6px;
    display: flex;
    flex-direction: row;
    /* gap: 15px; */
}

/*
 * Workaround since flex gap is not
 * yet correctly supported by the webkit
 * version included in the lighdm package.
 */
.user > *
{
    margin-right: 15px;
}
.user > *:last-child
{
    margin-right: 0;
}

.user:hover
{
    cursor: pointer;
}

.user.active
{
    flex: 1 1 0px;
    outline: 1px solid transparent;
    border-right: 0;
    border-radius: var(--profile-picture-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(90deg, var(--user-listing-0), var(--user-listing-1));
}

.password-box
{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    --vertical-margin: calc(var(--profile-picture-size) * 0.5);
    --horizontal-margin: calc(2*var(--profile-picture-border-size) + 15px + var(--profile-picture-size) - 4px);
    margin: var(--vertical-margin) 0 0 var(--horizontal-margin);
    /* gap: 4px; */
}

/*
 * Workaround since flex gap is not
 * yet correctly supported by the webkit
 * version included in the lighdm package.
 */
.password-box > *
{
    margin-bottom: 4px;
}
.password-box > *:last-child
{
    margin-bottom: 0;
}

.password-msg
{
    margin-left: 4px;
}

.password
{
    box-shadow: 2px 2px 0 var(--shadow-color);
    outline: none;
    border: none;
    padding-left: 8px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    width: var(--password-entry-length);
    height: 28px;
}

.password-form
{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* gap: 5px; */
}

/*
 * Workaround since flex gap is not
 * yet correctly supported by the webkit
 * version included in the lighdm package.
 */
.password-form > *
{
    margin-right: 5px;
}
.password-form > *:last-child
{
    margin-right: 0;
}

.password-form .img-button
{
    height: var(--image-button-size);
}

.user.active .password-form
{
    visibility: visible;
}

.password-msg
{
    visibility: hidden;
    font-size: var(--message-font-size);
}

.user.active .password-msg
{
    visibility: visible;
}

.img-button
{
    vertical-align: middle;
}

.img-button:hover
{
    filter: brightness(1.5);
}

.img-button:active
{
    filter:brightness(0.5);
}

#welcome
{
    font-family: "Franklin Gothic Medium", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-shadow: 2px 3px 0 var(--shadow-color);
}

#shutdown-prompt-overlay
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#shutdown-prompt-overlay.active
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#shutdown-prompt
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    border: 1px solid black;
    width: var(--shutdown-prompt-width);
    height: var(--shutdown-prompt-height);
}

#shutdown-prompt-header
{
    width: 100%;
    height: var(--shutdown-header-height);
    background-color: var(--header-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#shutdown-prompt-header > *:first-child
{
    margin-left: 10px;
}

#shutdown-prompt-header > *:last-child
{
    margin-right: 10px;
}

#logo-small
{
    height: 65%;
}

#shutdown-prompt-header-stripe
{
    width: 100%;
    height: var(--stripe-height);
    background: linear-gradient(45deg, var(--header-stripe-0),
        var(--header-stripe-1), var(--header-stripe-2), var(--header-stripe-3));
}

#shutdown-prompt-options
{
    font-size: var(--shutdown-prompt-option-font-size);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.shutdown-prompt-option
{
    /* gap: 8px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shutdown-prompt-option > *:first-child
{
    margin-bottom: 8px;
}

.shutdown-prompt-option .img-button
{
    height: var(--shutdown-option-button-size);
}

#shutdown-prompt-footer
{
    width: 100%;
    height: var(--shutdown-header-height);
    background-color: var(--header-bg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#shutdown-prompt-footer > *:last-child
{
    margin-right: 10px;
}

#shutdown-cancel-button-outline
{
    width: min-content;
    height: min-content;
    padding: 1px;
    border-radius: 4px;
    background: linear-gradient(170deg, var(--button-outline-1) 50%,
        var(--button-outline-2));
}

#shutdown-cancel-button-border
{
    width: min-content;
    height: min-content;
    padding: 1px;
    border: solid 1px var(--button-border);
    border-radius: 4px;
    background: linear-gradient(var(--button-normal-border-1),
        var(--button-normal-border-2));
}

#shutdown-cancel-button-border:hover
{
    background: linear-gradient(var(--button-hover-border-1),
        var(--button-hover-border-2));
}

#shutdown-cancel-button-border:active
{
    background: linear-gradient(var(--button-select-border-1),
        var(--button-select-border-2));
}

#shutdown-cancel-button
{
    color: black;
    font-size: var(--shutdown-prompt-option-font-size);
    outline: none;
    border: none;
    padding: 0px 8px 0px 8px;
    background: linear-gradient(180deg, var(--button-background-1) 50%,
        var(--button-background-2) 60%, var(--button-background-3) 80%);
}